{% extends 'main/layoute.html' %}

{% block title %}
	<title>Добавление новостей</title>
{% endblock %}

{% block content %}
   <h1>Добавление новостей</h1>
     <div>
       <div class="container mt-5">
          <form method="post">
            {% csrf_token %}   <!--  добавляем, если ошибка проверки 'CSRF' (Ошибка доступа 403)-->
            <div class="form-group">
            <!--     <label for="title">Заголовок новости</label> -->
             <!--   <input type="text" class="form-control" id="title" placeholder="Введите заголовок новости" required> -->
                {{ form.title }}
            </div>
            <div class="form-group">
            <!--     <label for="description">Краткое описание новости</label> -->
             <!--     <input type="text" class="form-control" id="description" placeholder="Введите краткое описание" required> -->
                {{ form.short_description }}
            </div>
            <div class="form-group">
            <!--     <label for="content">Содержание новости</label> -->
            <!--   <textarea class="form-control" id="content" rows="5" placeholder="Введите содержание новости" required></textarea> -->
                {{ form.text }}
            </div>
            <div class="form-group">
            <!--     <label for="pub_date">Дата</label> -->
            <!--      <input type="date" class="form-control" id="date" required> -->
                {{ form.pub_date }}
            </div>
            <div class="form-group">
            <!--       <label for="time">Время</label> -->
            <!--       <input type="time" class="form-control" id="time" required> -->
            </div>
            <button type="submit" class="btn btn-primary">Добавить новость</button>
          </form>
          <p> {{error}} </p>
       </div>

    </div>


{% endblock %}